
  <div class="container home">
    <div class="container-fluid text-center title under">
      <h3>CREAR GATO</h3>
    </div>
    <div class="row content">
      <div class="card">
        <div class="card-body">
          <div>
            <label for="nombre">Nombre</label>
            <input class="form-control" id="nombre" [(ngModel)]="nombre"/>
          </div>

          <div>
            <label for="descripcion">Descripción </label>
            <textarea class="form-control" id="descripcion" [(ngModel)]="descripcion"></textarea>
          </div>

          <div>
            <label for="Imagen">Imagen :</label>
            <div class="input-group">
              <input accept=".jpg,.png" (change)="upload($event)" style="margin: auto;" type="file" class="form-control" id="inputGroupFile04" aria-describedby="Imagen" aria-label="Upload">
              <!-- <button style="margin: auto;" class="btn btn-warning" type="button" id="Imagen">Cargar</button> -->
            </div>
          </div>

        </div>        
      </div>
    </div>
    
    <div class="center">
      <button type="button" class="btn btn-success" routerLink="/tabla-gatos" (click)="crearGato()">Guardar</button>
      <button type="button" class="btn btn-primary" routerLink="/tabla-gatos">Cancelar</button>
    </div>

  </div>
  
