
  <div class="container home">
    <div class="container-fluid text-center title under">
      <h3>EDITAR GATO</h3>
    </div>
    <div class="row content">
      <div class="card">
        <div class="card-body">
          <div>
            <label for="nombreGato">Nombre</label>
            <input class="form-control" id="nombreGato" name="nombre" [(ngModel)]="gato.nombre"/>
          </div>
          
            <div>
              <label for="descripcion">Descripción </label>
              <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="gato.descripcion"></textarea>
            </div>
           
            <div>
              <label for="Imagen">Imagen :</label>
              <div class="text-center">
                <img [src]="gato.urlCompleta" width="200" height="200" >
              </div>
              <div class="input-group mt-4">
                <input style="margin: auto;" type="file" class="form-control" id="Imagen" aria-describedby="Imagen" aria-label="Upload">
                <button style="margin: auto;" class="btn btn-warning" type="button" id="Imagen">Cargar</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="center">
      <button  class="buttonpr" type="button" class="btn btn-success" (click)="editarGato()">Guardar</button>
      <button class="button" type="button" class="btn btn-primary" (click)="cancelar()" >Cancelar</button>  
    </div>
  </div>
